* {
    margin: 0;
    padding: 0;
    /* border: 1px solid white; */
    font-family: Arial, Helvetica, sans-serif;
}

body {
    /* background-image:linear-gradient(to right, rgb(0, 0, 0)40% , #ff0066); */
    background: #000;
}

nav {
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    gap: 1%;
    position: fixed;
    z-index: 6;
    /* background: #000; */
}

/* navigation 1st logo start----*/
nav .logo {
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
    height: 55%;
    width: 5%;
}

nav .logo a {
    /* background: #000; */
    display: flex;
    height: 100%;
    width: 100%;
}

nav .logo a img {
    display: flex;
    max-width: 100%;
}

/* navigation 1st logo end-----0*/




/* profile picture start------1 */
nav .profile {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: #e90c0c; */
    height: 55%;
    width: 5%;
}

nav .profile a {
    /* background: red; */
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

nav .profile img {
    max-width: 60%;
}

/* profile picture end------0 */




/* navigation menu start----1 */
nav .navmenu {
    /* background-color: aquamarine; */
    display: flex;
    gap: 10px;
    width: 50%;
    height: 50%;
}
nav .navmenu a {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #ff0066;
    border-radius: 40px;
    color: #ff0066;
    font-size: 1.5vw;
    text-decoration: none;
    width: 100%;
}


nav .navmenu a:hover {
    background-color: #ff0066;
    color: black;
}

/* FONT PAGE */
.wesitename {
    background-image: linear-gradient(to right, rgb(0, 0, 0)40%, #ff0066);
    /* background: green; */
    color: #ff0066;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    z-index: -1;
    
}
.wesitename .heading {
    display: flex;
    gap: 10%;

}

#find {
    -webkit-text-stroke-width: .1vw;
    -webkit-text-stroke-color: #ff0066;
    color: black;
}

.wesitename .heading2 {
    display: flex;
    gap: 10%;
}

.wesitename {
    font-size: 3vw;
}




/* 2nd page start */  

.main2 {
    height: 86vh;
    display: flex;
    flex-direction: column;
}

.main2 .twosections {
    display: flex;
    width: 100%;
}

.main2 .twosections .subdescription {
    height: 80%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;

}

.main2 .twosections .subdescription p {

    display: flex;
    width: 70%;
    font-size: 2.5em;
    color: #ff0066;
    text-align: start;

}

.main2 .twosections .imgeof2ndpage {
    /* background: #000; */
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.main2 .twosections .imgeof2ndpage .person {
    display: flex;
    z-index: 5;
}

.main2 .twosections .imgeof2ndpage .person img {
    max-width: 60%;
    z-index: 5;
}

.main2 .storeimg {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.main2 .storeimg .lostimg {
    display: flex;
    justify-content: end;
    width: 60%;
    align-items: start;
}

.main2 .storeimg .storeimg_line {
    display: flex;

    justify-content: start;
    width: 30%;
    align-items: end;
}

#flip {
    height: 50%;
    transform: scale(-1, -1);
    display: flex;
    justify-content: center;

}
#flip4 {
    transform: scale(-1, -1);
    display: flex;
    justify-content: center;

}
#flip2 {
    transform: scale(1, -1);
    display: flex;
    justify-content: center;

}
#flip3 {
    transform: scale(-1, 1);
    display: flex;
    justify-content: center;

}

.main2 .search {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: end;
}

.main2 .search .searchline {
    display: flex;
    justify-content: end;
    width: 20%;
    align-items: start;
}

.main2 .search .searchimg {
    display: flex;
    width: 10%;
    align-items: end;
    z-index: -1;

}


.main3 {
    height: 89vh;
    display: flex;
    flex-direction: column;
}

.main3 .people {
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
}

.main3 .people .inner_person {
    width: 65%;
    display: flex;
    justify-content: end;
    align-self: center;
}

.main3 .people .inner_person img {
    max-width: 10%;
}

.main3 .reposting_and_picture {
    display: flex;
    width: 100%;
}
.main3 .reposting_and_picture .reposting{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 65%;
}

.main3 .reposting_and_picture .heading3{
    color: #ff0066;
    width: 100%;
    font-size: 2vw;
    display: flex;
    justify-content: center;
}
.main3 .reposting_and_picture .heading_subtitile {
    color: #fc74aa;
    width: 60%;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    text-align: start;
    margin-left: 8%;
    margin-top: 3%;
}
.main3 .imgarea{
    width: 50%;
    height: 68vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main3 .imgarea .titiless{
    display: flex;
    color: #ff0066;
    width: 70%;
    justify-content: space-between;
}
.main3 .imgarea .titiless p{
font-size: 1.62vw;
}
.main3 .imgarea .arror{
    width: 70%;
    display: flex;
    justify-content: space-between;

}
.main3 .imgarea .arror img{
    width: 11vw;
}
.main3 .imgarea .titiles2{
    display: flex;
    color: #ff0066;
    width: 70%;
    justify-content: space-between;
}
.main3 .imgarea .titiles2 p{
    font-size: 1.62vw;
}
.main3 .informationimg{
    display: flex;
    position: absolute;
    margin-top: 15.9%;
    margin-left: 73.7%;
    height: 10vw;
}
.main3 .stright_arror{
    display: flex;
    position: absolute;
    margin-top: 5.5%;
    height: 10vw;
    margin-left: 78%;
}


.main4
{
    height: 89vh;
}
.main4 .searchingitems{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.main4 .searchingitems .searchitemabout{

    height: 80%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 65%;
}
.main4 .searchingitems .searchitemabout .heading4{
    color: #ff0066;
    width: 100%;
    font-size: 2vw;
    display: flex;
    justify-content: start;
    margin-left: 8%;
    margin-top: 5%;
}
.main4 .searchingitems .searchitemabout .heading_subtitil{
     color: #fc74aa;
    width: 80%;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    text-align: start;
    margin-left: 8%;
    margin-top: 3%;
}
.main4 .searchingitems .search_imgs{
    height: 80%;
width: 50%;
display: flex;
flex-direction: column;
justify-content: space-between;
}
.main4 .searchingitems .search_imgs .search1{
    display: flex;
    height: 50%;
    justify-content: end;
    margin-right: 8%;
}
.main4 .searchingitems .search_imgs .portal1{
    margin-bottom: 2%;
    margin-left: 5%;
}
.arrow1{
    display: flex;
    position: absolute;
    
    margin-left: 7%;
    margin-top: 5%;
    width: 14%;
}
#arrow11{
    transform: rotate(90deg);
}
#arrow12{
    transform: rotate(-90deg);
}
.arrow1 img{
    width: 100%;
}
.arrow2{
    display: flex;
    position: absolute;

    margin-left: 20%;
    margin-top: 18%;
    /* width: 14%; */
    height: 34%;
}
.arrow1 img{
    width: 100%;
}

.main5 {
    height: 89vh;
}

.main5 .profile_section {
    height: 100%;
    display: flex;
}

.main5 .profile_section .profile_about {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.main5 .profile_section .profile_about .heading5 {
    color: #ff0066;
    width: 50%;
    font-size: 2vw;
    display: flex;
    justify-content: start;
    margin-left: 8%;
    margin-top: 10%;
}

.main5 .profile_section .profile_about .profile_description {


    color: #fc74aa;
    width: 70%;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    text-align: start;
    margin-left: 8%;
    margin-top: 3%;
}

.main5 .profile_section .profile_fream {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main5 .profile_section .profile_fream .profile_boder {
    height: 75%;
    width: 60%;
    border: 2px solid #ff0066;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4%;
    /* background-image: linear-gradient(#ff0066, rgba(0, 0, 0, 0.5)70%); */
}

.main5 .profile_section .profile_fream .profile_boder .fstline {
    display: flex;
    height: 8%;
    gap: 5%;
    width: 80%;
    justify-content: center;

}

.main5 .profile_section .profile_fream .profile_boder .fstline input {
    width: 100%;
    background: #00000000;
    border: 2px solid #ff0066;
    height: 100%;
    gap: 5%;
    border-radius: 10px;
    
}
.main5 .profile_section .profile_fream .profile_boder input{
    
    padding-left: 10%;
    background: #00000000;
    width: 70%;
    height: 8%;
    border: 2px solid #ff0066;
    border-radius: 10px;
    color: #ff0066;
    display: flex;
}

.main5 .profile_section .profile_fream .profile_boder button{
    background: #00000000;
    width: 30%;
    height: 8%;
    border: 2px solid #ff0066;
    border-radius: 10px;
    color: #ff0066;
    
}

#profileId {
    height: 10%;
}